body {
    font-family: Arial, sans-serif;
    margin: 50px;
}

.coloca {
    margin-top: 30px;
    text-align: center;
}

.nome{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}