.produtos{
    display: flex;
    flex-direction: row;
    flex-wrap:  wrap;
    gap: 20px;
    justify-content: center;
}

.produto{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    width: 250px; /* largura fixa dos cards */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}