/* Coluna 1 - Botoes do Filtro. */
.coluna1{
    display: flex;
    flex-direction: column;
    background: black;
    color: white;
    position: relative;
    justify-content: center;
    align-items: center;
    flex: 0 0 30%; 
    border-radius: 20px; 
    margin-left: 2vh;
}

.coluna1 p{
    margin-left: 13px;
    font-size: 3.5vh;
}

.coluna1 footer{
    margin-top: 70vh;
}

/* Coluna 2 - Informacoes sobre o filtro escolhido. */
.coluna2{
    display: flex; 
    flex-direction: column; 
    position: relative;
    margin-right: 20px;
    margin-left: -16px; 
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    flex: 1 1 65%;
    border-top-right-radius: 20px;  
    border-bottom-right-radius: 20px;  
}

.coluna2 p{
    color: white;
    line-height: 1.3;
    margin-top: 22vh;
    font-size: 3.5vh;
    font-family:Arial, Helvetica, sans-serif
}

/* Selecao do Filtro*/
.set{
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.select-completo{
    position: relative;
    width: 250px;
    display: inline-block;
}

.campo-opcoes{
    width: 100%;
    padding: 10px 2px 12px 8px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    background-color: white;
    color: #000000;
    cursor: pointer;
    appearance: none;
}

.seta{
    position: absolute;
    right: 2px;
    top: 50%;
    transform: translateY(-70%);
    pointer-events: none; 
    font-size: 16px;
    color: #910054;
}

/* Coluna de informações */
.coluna-info {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 12px;
    min-height: 100px;
    color: #fff;
}

.coluna-filtro{
    width: 950px;      
    height: 600px;     
    background-color: #cdcdcd;  
    border-radius: 30px; 
    margin: auto;       
    margin-top: 3vh;   
    box-shadow: 0 0 15px rgba(0,0,0,0.3); 
}

.coluna-filtro2{
    width: 950px;       
    height: 450px;      
    background-color: #b8b8b8;  
    border-radius: 30px; 
    margin: auto;       
    margin-top: 2vh;   
    box-shadow: 0 0 15px rgba(0,0,0,0.3); 
}

/* Responsividade para Tabletes e Celulares */
/* Tablets */
@media(max-width: 900px){
    .botao-topo{
        font-size: 0.9rem;
        padding: 8px 15px;
    }

    .info-pecas p{
        font-size: 2vh;
    }

    .info-empresa img, .info-pecas img{
        width: 90px;
    }
}

/* Celulares */
@media(max-width: 600px){
    .topo-logo img {
        max-width: 100px;
    }

    .botao-topo{
        width: 100%;
        text-align: center;
    }

    .colunas{
        flex-direction: column;
        align-items: center;
    }

    .info-empresa, .info-pecas{
        flex-direction: column;     
        text-align: center;
    }

    .info-empresa img,.info-pecas img{
        margin-bottom: 10px;
    }

    .tela-footer{
        flex-direction: column;
        text-align: center;
    }

    .footer-logo{
        width: 60px;
    }
}
