/* Coluna 2 - Informacoes sobre o filtro escolhido. */
.coluna{
    display: flex; 
    flex-direction: column; 
    position: relative;
    margin-right: 20px;
    margin-left: 5px; 
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    flex: 1 1 65%;
    border-radius: 10px;
}

.coluna p{
    color: white;
    line-height: 1.3;
    margin-top: 22vh;
    font-size: 3.5vh;
    font-family:Arial, Helvetica, sans-serif
}